{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/rating.css">
    <title>CinemaOnline</title>
{% endblock %}

{% block body %}
    <div class="main">
        <h1 class="list-header">History</h1>
        <div class="rating-list">
                <div class="rating-item">
                    <div class="rating-text-content">
                        <p class="rating-item-name">You haven't watched any movie</p>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}