{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/style.css">
    <title>CinemaOnline</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="main-top-menu">
        <a href="/home" class="button-" style="color: #EFEFEF;">Home</a>
        <a href="/home/series" class="button-hme">Series</a>
        <a href="/home/tvshow" class="button-ome">TV show</a>
    </div>
    <div class="main-content">
        <div class="main-content-left">
            <div class="main-content-section">
                <div class="main-content-section-top">
                    <p class="main-content-section-top-name">Tranding Movies</p>
                    <a href="/home/tranding" class="main-content-section-top-show">Show more</a>
                </div>
                <div class="main-content-section-bottom">
                    {% for i in range(3) %}
                        <a href="/movie/{{items_popular[i].get('id')}}" class="rating-item">
                            <div class="main-content-section-bottom-img">
                                <img src="https://image.tmdb.org/t/p/w400{{items_popular[i].get('poster_path')}}" alt="img" class="main-content-section-bottpm-img-render">
                            </div>
                        </a>
                    {% endfor %}
                    <div class="main-content-section-bottom-btn">
                        <button class="main-content-section-bottom-button">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="main-content-section">
                <div class="main-content-section-top">
                    <p class="main-content-section-top-name">Top Rated</p>
                    <a href="/home/toprated" class="main-content-section-top-show">Show more</a>
                </div>
                <div class="main-content-section-bottom">
                    {% for i in range(3) %}
                        <a href="/movie/{{items_rated[i].get('id')}}" class="rating-item">
                            <div class="main-content-section-bottom-img">
                                <img src="https://image.tmdb.org/t/p/w400{{items_rated[i].get('poster_path')}}" alt="img" class="main-content-section-bottpm-img-render">
                            </div>
                        </a>
                    {% endfor %}
                    <div class="main-content-section-bottom-btn">
                        <button class="main-content-section-bottom-button">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="main-content-section">
                <div class="main-content-section-top">
                    <p class="main-content-section-top-name">Liked Movies</p>
                    <a href="/home/history" class="main-content-section-top-show">Show more</a>
                </div>
                <div class="main-content-section-bottom">
                    <div class="main-content-section-bottom-img">
                        
                    </div>
                    <div class="main-content-section-bottom-img">
                        
                    </div>
                    <div class="main-content-section-bottom-img">
                        
                    </div>
                    <div class="main-content-section-bottom-btn">
                        <button class="main-content-section-bottom-button">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content-right">
            <div class="main-content-right-section">
                <div class="main-content-right-section-name">
                    Upcoming Movies
                </div>

                {% for i in range(4) %}
                    <a href="/movie/{{items_upcoming[i].get('id')}}" class="rating-item">
                        <div class="main-content-right-section-movie">
                            <div class="main-content-right-section-movie-img">
                                <img src="https://image.tmdb.org/t/p/w500{{items_upcoming[i].get('backdrop_path')}}" alt="img" class="main-content-right-section-movie-render"> 
                            </div>
                            <h1 class="main-content-right-section-movie-name">
                                {{items_upcoming[i].get('title')}}
                            </h1>
                            <p class="main-content-right-section-movie-text">
                                {{items_upcoming[i].get('overview')}}
                            </p>
                        </div>
                    </a>
                {% endfor %}

            </div>
        </div>

    </div>
</div>

{% endblock %}