<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e3853545f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/rating.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>Profile</title>
</head>

<body>
    <div class="profile-header">
        <a class="profile-back-button" href="{{url_for('home')}}" style="text-decoration: none;">
            <i class="fa-solid fa-arrow-left" ></i>
        </a>
    </div>
    <div class="profile-main">
        <div class="profile-img">
            img
        </div>
        <div class="profile-name">{{current_user.name}} {{current_user.surname}}</div>
    </div>
    <div class="profile-analitycs">
        <div class="profile-analitycs-activity">
            <h1 class="profile-analitycs-activity-name">Liked Movies</h1>
            <div class="rating-list">
                {% for data in data_list %}
                    <div class="delete" style="min-width: 100%;">
                        <a href="/movie/{{data.get('id')}}" class="rating-item">
                            <img src='https://image.tmdb.org/t/p/w400{{data.get("poster_path")}}' alt="img"
                                style="border-radius: 10px; width: 200px;">
                            <div class="rating-text-content">
                                <p class="rating-item-name">{{data.get("title")}}</p>
                                <p class="rating-item-info">{{data.get("overview")}}</p>
                            </div>
                            <p class="rating-item-rating">{{data.get("vote_average")}}</p>
                        </a>
                        <button class="delete-button" data-id="{{data.get('id')}}">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em"
                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/static/js/delete.js"></script>
</body>

</html>